  
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
          {{!-- <ul id="nav-mobile"  class="navbar-nav">
        {{#if isDelivered }}
            <li  class="nav-item active"><a class="nav-link" href="/">Товары каторый получили покупатели</a></li>
        {{ else }}
            <li class="nav-item"><a class="nav-link" href="/">Товары каторый получили покупатели</a></li>
        {{/if }}
        {{#if isFromChina }}
            <li class="nav-item active"><a class="nav-link" href="/from-china">Добавьте товары из Китая</a></li>
        {{ else }}
            <li class="nav-item"><a class="nav-link" href="/from-china">Добавьте товары из Китая</a></li>
        {{/if}}
        {{#if isFromTj }}
            <li class="nav-item active"><a class="nav-link" href="/productForTj">Добавьте товары из Таджикистан</a></li>
        {{ else }}
            <li class="nav-item"><a class="nav-link" href="/productForTj">Добавьте товары из Таджикистан</a></li>
        {{/if}} --}}
      {{!-- </ul>x --}}
    </div>
  </div>
</nav>